In [ ]:
# iPython magic
%matplotlib inline

# Data Loading

In [2]:
import pandas as pd

In [4]:
df = pd.read_feather(
    '../data/preprocessed/adult.feather',
#     'https://raw.githubusercontent.com/sesise0307/pydata2021-eda/main/data/preprocessed/adult.feather',
)

In [5]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income,age_group,capital-gain-loss
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K,30~39,2174
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,50~59,0
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,30~39,0
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,50~59,0
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K,20~29,0

# Plot with Matplotlib

basic building block, essential for fine-tuning

- lineplot, scatterplot, heatmap, etc

In [6]:
import matplotlib.pyplot as plt

# Plot with Pandas

- fine-tuning with matplotlib

# Plot with Seaborn

handy *matplotlib* wrapper for statistical visualization

- pairgrid, stripplot, distplot, barplot, violinplot, etc.
- tidy data
- fine-tuning with matplotlib